<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapper</title>
</head>
<body>
    <form method="get"  action="/pages">
        <input type="text">
        <button>Get data!</button>
    </form>
    <div class="container mt-4">

  <div class="card shadow">

    <div class="card-header bg-dark text-white">
      Scraped Data (JSON)
    </div>

    <div class="card-body bg-dark text-success">

      <pre style="max-height:400px; overflow:auto;">
<code><%= JSON.stringify(data, null, 2) %></code>
      </pre>

    </div>

  </div>

</div>

</body>
</html>